/* Variáveis de coroes */
:root{
    --roxo1:  #4b0b5193;
    --roxo2: #691d72;
    --roxoEscuro: rgb(61, 0, 61);

    --background: gray;
}

/*Fontes
@font-face {
    font-family: "Anonymous Pro";
    src: local(Anonymous Pro), url(C:\Users\John\Desktop\YARNEY\Fontes\Anonymous_Pro\AnonymousPro-Regular.ttf);
}*/

/* Geral */
* {
    margin: 0;
    padding: 0;
}

/* .navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
    margin: 0;
    margin: 0;
    background-color: var(--background);
    color: white;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
} */

/* Principal */
main {
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif ;
    padding-top: 10px;
    height:  84.5vh;
}

header{
    font-weight: bolder;
}

/* Cor dos texto */
h1, p, a, h2 {
    color: var(--texto);
}
/*Efeito dos botões de navegação*/
#btn_news:hover{
    background-color: var(--texto);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 0.3;
}

#btn_tierlist:hover{
    background-color: var(--texto);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 0.3;
}

#btn_quiz:hover{
    background-color: var(--texto);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 0.3;
}

#btn_ia:hover{
    background-color: var(--texto);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 0.3;
}

/* Título */
h1 {
    text-align: center;
    font-size: 56px;
    margin-top: 15vh;
}

/* Div do Formulário */
#login {
    background-color: rgb(80, 0, 80);
    margin: 35px auto;
    border-radius: 15px;
    width: 32vw;
    padding: 20px;
    font-size: 25px;
    font-family: "Anonymous Pro", serif;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
}

/* Organização dos grupos */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Organização dos Botões */
.form-button {
    grid-column: span 2; 
    text-align: center;
    text-decoration: none;
}

/* Botão para entrar */
#btn-entrar {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(80, 0, 80);
    color: var(--texto);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 20%;
}
#btn-entrar a{
    text-decoration: none;
}

/* Efeito do Botão de entrar */
#btn-entrar:hover {
   background-color: var(--roxoEscuro)
}

/* Texto do Formulário */
#login label {
    color: var(--texto);
    font-family: "Anonymous Pro", serif;
    font-size: 20px;
    font-weight: bold;
}

/* Estilo para os inputs */
#login input {
    height: 40px;
    width: 100%; /* Ocupa a largura do grupo */
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Anonymous Pro", serif;
    border: 1px solid #ccc;
    box-sizing: border-box;
}