/* Cores */
:root {
    --roxo1: #4b0b51c7;
    --roxo2: #6a1d72;
    --texto: orange;

}

/* Fontes */
@font-face {
    font-family: "Anonymous Pro";
    src: local(Anonymous Pro), url(C:\Users\John\Desktop\YARNEY\Fontes\Anonymous_Pro\AnonymousPro-Regular.ttf);
}

/* Geral */
* {
    margin: 0;
    padding: 0;
}

/* Corpo */
body {
    background-color: #6a1d72;
    background-size: cover;
    /*Mudar as fonter!!*/
    font-family: Arial, Helvetica, sans-serif;
}

/* Cor dos texto */
h1,
p,
a,
h2 {
    color: var(--texto);
}

/* Título */
h1 {
    text-align: center;
    font-size: 66px;
    margin-top: 15vh;
}

/* Subtitulo */
p {
    text-align: center;
    font-size: 19px;
    margin-top: -1vh;
    text-decoration: none;
}

/* Botão para criar uma conta*/
p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

/* Formulário */
#login {
    background-color: rgb(80, 0, 80);
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 35px;
    border-radius: 15px;
    width: 30vw;
    height: 32vh;
    font-size: 25px;
    font-family: "Anonymous Pro", serif;
    text-align: center;
    padding-top: 15px;
}

/* Texto do Formulário */
#login label {
    color: var(--texto);
    margin-left: 0%;
    font-family: "Anonymous Pro", serif;
}

/* Inputs dos Formulário */
#login input {
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Anonymous Pro", serif;
    margin-bottom: 20px;
}

/* Esqueci minha senha */
#login a {
    margin-top: 70px;
    text-decoration: none;
    text-align:  center;
    font-size: 20px;
}

#login a:hover{
    text-decoration: underline;
}

/* Botão de entrar */
#btn-entrar {
    background-color: rgb(80, 0, 80);
    color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 12vw;
    height: 6vh;
    margin-left: 44%;
    margin-right: 44%;
    margin-top: 35px;
    font-family: "Anonymous Pro", serif;
    text-decoration: none;
}

#btn-entrar a{
    text-decoration: none;
}

/* Efeito do Botão de entrar */
#btn-entrar:hover {
    background-color: #270b2b;    
    transition: 0.7s;
}

@media (max-width: 700px) {
    #login {
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 35px;
        border-radius: 0px;
        width: 100vw;
        height: 240px;
        font-size: 25px;
        font-family: "Anonymous Pro", serif;
        text-align: center;
    }
}