/*Cores*/
:root {
    --roxo1: #4b0b51;
    --roxo2: #6a1d72;
    --roxoEscuro: rgb(46, 0, 46);
    --texto: #ffa500;

}

/*Fontes 
@font-face {
    font-family: "Anonymous Pro";
    src: local(Anonymous Pro), url(C:\Users\John\Desktop\YARNEY\Fontes\Anonymous_Pro\AnonymousPro-Regular.ttf);
}*/

/* Geral */
* {
    margin: 0;
    padding: 0;
}

/* Corpo */
body {
    background-color: #6a1d72;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cor do texto */
h1,
p,
a,
h2 {
    color: var(--texto);
}

/* Lista do Header */
.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

/* Header */
.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
    margin: 0;
    margin: 0;
    background-color: black;
    color: white;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Tamanho da fonte do Subtitulo */
h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
}

/* Link do Header */
.navbar a {
    text-decoration: none;
    padding: 16px;
    display: block;
    margin: 0 10px;
    font-size: 16px;
}

/* Decoração do Link do Header */
.navbar a:hover {
    color: #000;
    transition: background-color 1s;
    transition: color 0.3;
}

.navbar ul li a:hover {
    background-color: var(--texto);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 0.3;
}

/* Botão para criar a conta*/
.btn-navbar {
    background-color: var(--roxo2);
    color: var(--texto);
    border: none;
    margin-right: 45px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    font-family: "Anonymous Pro", serif;
}

/* Efeito de botão para criar a conta */
.btn-navbar:hover {
    text-decoration: none;
    background-color: var(--texto);
}


.search-container {
    display: flex;
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    align-items: center;
    /* Alinha os itens verticalmente */
    width: 25vw;
    /* Faz o contêiner ocupar a largura total */
}

#lupa {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    /* Remove borda direita para unir ao campo de busca */
    display: inline-block;
    border-right: 1px solid black;
}

input[type="search"] {
    width: 565px;
    height: 37px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    /* Remove borda esquerda para unir à lupa */
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    /* Remove borda de foco padrão */
}

@media (max-width: 1115px) {
    .title {
        display: none;
    }
}

@media (max-width: 850px) {
    .search-container {
        display: none;
    }
}

@media (max-width: 625px) {
    .btn-navbar {
        margin-right: 45px;
        font-size: 8px;
        
    }
    
}


@media (max-width: 540px) {
    .btn-navbar {
        display: none;

    }
}

@media (max-width: 440px) {
    .navbar a {
        padding: 6px;

    }
}